/* تنظیم کلی صفحه */
body {
    font-family: 'Vazir', Tahoma, Arial, sans-serif;
    direction: rtl;
    background-color: #FFFFF3;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* جعبه اصلی محتوا */
.container {
    background:  #FFFFF3;
    padding: 40px 30px;
    border-radius: 12px;
    max-width: 1000px;
    width: 90%;
    box-sizing: border-box;
}

/* لودر چرخشی */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.circle-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 10px solid#B7AD99;
  border-top: 10px solid #FF4365;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  pointer-events: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
img {
  filter: hue-rotate(90deg); /* Shifts color hues */
}

.motivational {
    animation: rotate 20s linear infinite;
    /* عنوان */
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 20px;
    font-weight: 700;
    color: #00D9C0;
}

/* بخش نمایش روزهای باقی مانده */
#head{
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 700;
    color: #893168;
}
#days-left {
    font-size: 1.8rem;
    font-weight: 600;
    color: #FF4365;
    margin-bottom: 20px;
}

/* متن توضیحی */

p {
    font-size: 1.15rem;
    line-height: 1.6;
    color: #D1495B;
    margin: 0 auto;
    max-width: 320px;
    letter-spacing: 0.05em;
    user-select: none; /* جلوگیری از انتخاب متن */
}

/* برای واکنشگرایی بهتر در موبایل */
@media (max-width: 400px) {
    .container {
        padding: 30px 20px;
    }

    h1 {
        font-size: 2rem;
    }
h2{
      color:#FF4365;
}
    #days-left {
        font-size: 1.4rem;
    }

    p {
        font-size: 1rem;
    }
}


